* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 14px;
}

body {
    min-height: 100vh;
    color: #262626;
    background-color: #fafafa;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 18px;
    
}

body, .instagram-wrapper, .instagram-phone, .instagram-continue, .group, .profile-photo, .get-the-app, .download {
    display: flex;
    align-items: center;
}

body, .instagram-phone, .profile-photo, .get-the-app {
    justify-content: center;
}

body, .group, .get-the-app, .download {
    width: 100%;
}

.instagram-continue, .group, .get-the-app {
    flex-direction: column;
} 

.instagram-wrapper {
    justify-content: start;
    width: 56%;
    height: 100vh;
}

.instagram-phone {
    width: 50%;
}

.instagram-phone img {
    height: 43rem;
}

.instagram-continue {
    justify-content: space-around;
    width: 40%;
    min-height: 40.5rem;
}

.group {
    justify-content: space-between;
    background-color: #fff;
    padding: 1.3rem 0;
    border: 1px solid #dbdbdb;
}

.group:nth-child(1) {
    min-height: 19rem;
}

.instagram-logo {
    height: 3.5rem;
    margin: 22px auto 12px;
}

.profile-photo {
    border-radius: 50%;
    overflow: hidden;
    margin: 10px;
}

.profile-photo img {
    height: 7rem;
}

.instagram-login {
    background-color: #0095f6;
    color: #ffffff;
    padding: 5px 25px;
    border-radius: 4px;
    margin: 16px;
    font-weight: 500;
    border: none;
    outline: 0;
}

.instagram-logout {
    color: #0095f6;
    margin-top: 1rem;
    font-weight: 500;
}


.link-blue {
    color: #0095f6;
    font-weight: 500;
}

.get-the-app {
    padding: 1.3rem 0;
}

.get-app {
    margin-bottom: 8px;
}

.download {
    justify-content: space-evenly;
    padding: 1rem;
}

.app-download {
    height: 3rem;
    width: 10.3rem;
    background-size: cover;
}

.app-download:nth-child(1) {
    background-image: url('./img/apple-button.png');
}

.app-download:nth-child(2) {
    background-image: url('./img/googleplay-button.png');
}

/* media queries */ 


@media (max-width: 1024px) {
    .instagram-wrapper {
        width: 82%;
    }
}

@media (max-width: 768px) {

    .instagram-wrapper {
        justify-content: center;
        width: 84%;
    }
    
    .instagram-phone {
        display: none;
    }

    .instagram-continue {
        width: 52%;
    }

}

@media (max-width: 426px) {
    .instagram-wrapper {
        width: 80%;
    }

    .instagram-phone {
        display: none;
    }

    .instagram-continue {
        width: 100%;
    }
    
    .group {
        border: 1px solid transparent;
        background-color: #fafafa;
    }
}

@media (max-width: 376px) {
    .instagram-wrapper {
        width: 90%;
    }
}

@media (max-width: 320px) {

    .instagram-wrapper {
        width: 100%;
    }

    .instagram-phone {
        display: none;
    }

    .group {
        border: 1px solid transparent;
        background-color: #fafafa;
    }
}